{
  "sourceMaps": false,
  "presets": [
    "es2015",
    "stage-2"
  ],
  "plugins": [
    ["preact-require"],
    ["transform-decorators-legacy"],
    ["transform-react-jsx", { "pragma": "h" }]
  ]
}
