<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Lorem Ipsum</title>

  <meta name="description"
        content="">
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
  <meta name="canonicalURL"
        content="">
  <meta name="robots"
        content=""/>

  <link rel="canonical"
        href="" />
  <link rel="next"
        href="" />
  <link rel="publisher"
        href=""/>

<% if (htmlWebpackPlugin.options.production) { %>
  <link rel="stylesheet" href="/app.css?sha=<%= htmlWebpackPlugin.options.sha %>">
<% } %>
</head>
<body>
<% if (htmlWebpackPlugin.options.development) { %>
  <script src="http://localhost:3001/webpack-dev-server.js"></script>
  <script src="http://localhost:3001/dist/app.js"></script>
<% } %>
<% if (htmlWebpackPlugin.options.production) { %>
  <script src="/app.js?sha=<%= htmlWebpackPlugin.options.sha %>"></script>
<% } %>
</body>
</html>
