<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">

    <title>Web Application</title>

    <meta name="description"
          content="Web Application">

    <meta name="viewport"
          content="initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, shrink-to-fit=no">

    {% if (o.htmlWebpackPlugin.options.production) { %}
    <link rel="stylesheet"
          href="/app.css?sha={%=o.htmlWebpackPlugin.options.sha%}">
    {% } %}
</head>
<body>
    <app></app>
{% if (o.htmlWebpackPlugin.options.development) { %}
    <script src="http://localhost:3001/webpack-dev-server.js"></script>
    <script src="http://localhost:3001/dist/app.js"></script>
{% } %}
{% if (o.htmlWebpackPlugin.options.production) { %}
    <script src="/app.js?sha={%=o.htmlWebpackPlugin.options.sha%}"></script>
{% } %}
</body>
</html>
